 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 54px;
}

.u-section-1 .u-menu-1 {
  margin: 7px auto;
}

.u-section-1 .u-nav-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}